@using Recodme.Rd.EDA.WebAPI.Models.ExtraInfoVM;
@using Recodme.Rd.EDA.WebAPI.Models.UserInfoVM;
@using Recodme.Rd.EDA.BusinessLayer.BO.UserInfoBO;
@model CommentVM

<div class="card">

    <div class="card-header">
        <h2 class="float-left">
            @ViewData["Title"]
        </h2>
    </div>

    <div class="card-body">
        <div class="ml-5 mr-5">

            <dl class="row">
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Message)

                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.Message)
                </dd>
            </dl>

            <dl class="row">
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.ClientId)

                </dt>
                <dd class="col-10">
                    @{
                        var client = ViewData["Client"] as ClientVM;
                        ProfileBO pBO = new ProfileBO();
                        var clientName = await pBO.ReadAsync(client.ProfileId);
                    }
                    <a asp-controller="Clients" asp-action="Details" asp-route-id="@client.Id">@(clientName.Result.FullName + " -- " + clientName.Result.Country)</a>
                </dd>
            </dl>

        </div>
    </div>

</div>
